nav{
    background-color: #fff;
    .menu {
        display: flex;
        gap: 50px;
        a {
            color: $primary-color;
            cursor: pointer;
            font-size: $font-size;
        }
    }
}
.logo {
    width: 210px;
}
