@import './partials/variables';
@import './partials/navbar';
@import './partials/main';
@import './partials/login';
.flower-list {
    ul {
        display: flex;
    }
    li {
        color: var(--primary-color);
        cursor: pointer;
        font-size: $font-size;
        transition: .3s;
        padding: 10px 20px;
        &:hover {
            color: var(--secondary-color);
        }
        &:focus{
            color :orange;
        }
    }
}
.filter {
    color: var(--primary-color);
    display: flex;
    align-items: center;
    i {
        padding: 0 7px;
    }
}
.sell-item {
    img {
        transition: .2s;
        cursor: pointer;
        transform-origin: bottom;
        &:hover {
            transform: scale(1.03);
        }
    }
}
.active {
    background-color: var(--bg-color);
}
input {
    width: 100%;
    font-size: $font-size-2;
    padding: 1rem;
    outline-color: var(--secondary-color);
}
.btn {
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color);
    color:#fff;
    transition: .2s;
    &:focus {
        background-color: #c43022;
    }
}

a {
    color: var(--primary-color);
    transition: .25s;
    &:hover {
        color: var(--secondary-color);
    }
}